body {
	background: linear-gradient(-45deg, #002B36, #25465D, #00806F, #302234);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

header {
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.75);
}

#presentation {
	perspective: 500px;
}

#title {
	transition: .5s;
	transform-style: preserve-3d;
}

#title:hover {
	transform: rotate3d(0, 0.3, -0.3, 2deg);
}

.bg-semi {
	background-color: #002b3685;
	border: none;
}

.card {
	transition: .3s;
}

.card:hover {
	transform: rotate3d(0, 0, -1, .5deg);
}

#projects img {
	border-radius: 1.5rem;
}

.img-shadow {
	position: relative;
	max-width: 100%;
	float: left;
}

.img-shadow::before {
	border-radius: 1.5rem;
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: inset 1px 1px 10px 0px rgba(0, 0, 0, .75);
}

.img-shadow img {
	float: left;
}

#contact {
	background-color: #F79334;
}

footer {
	box-shadow: 1px 0 15px 1px rgba(0, 0, 0, 0.75);
}